.titulo1{
background-color: cadetblue;
   margin:100px 50px 60px 350px;
  padding: 20px;
   width: 250px;

   font-size: 30px;
   text-align: center;
   border-radius: 43px;
   color: white;

}

.card2{

}

div.contenedor{
   background-color: gray;
   border-radius: 100px;
   border: 30px solid; 
   
}
div.contenedor{
   font-size: 24px;
   text-align: center;
   font-style:italic;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /*margin: 80px 40px 10px 100px;*/
   margin: auto;

}

.imagen1{
   width: 18%;
   margin:50px 15px 20px 10px;
}